body{
    text-align: center;
    background: rgb(171, 230, 83)

}
.container{
    display: flex;
    justify-content: center;
}
.box{
    width: 150px;
    height: 150px;
    border-radius: 19%;
    border:10px solid black; 
    margin: 0.5rem;

}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.flash{
    background-color: white;
}